# Uncomment the line below and supply the environment variable values
# DEV_URL=postgres://<USERNAME>:<PASSWORD>@<HOST>:<PORT>/<database>
# TEST_DATABASE_URL=postgres://<USERNAME>:<PASSWORD>@<HOST>:<PORT>/<database>
# SECRET= <SECRET>